<div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title col-8">Feed Conversion Ratio</h3>
        <div class="row col-4">
          <div class="form-group">
            <label>Date range:</label>

            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="far fa-calendar-alt"></i>
                </span>
              </div>
                <input type="text" class="form-control float-right" id="fcr_daterange">
              </div>
          </div>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div class="container-fluid">
            <canvas id="fcr_chart" style="min-height: 250px; height: 250px; max-height: 600px; max-width: 100%;"></canvas>
        </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>