<div class="col-12">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title col-4">Growth Preformance Chart</h3>
      <div class="row col-8">
        <div class="col-8">{% include "./breed_multiselect.html" %}</div>
        <div class="col-1">
          <input
            type="number"
            name="start_week"
            value="0"
            class="form-control"
            id="start_week"
            placeholder="Start Week"
          />
        </div>
        <div>to</div>
        <div class="col-1">
          <input
            type="number"
            name="end_week"
            value="10"
            class="form-control"
            id="start_week"
            placeholder="Start Week"
          />
        </div>
        <div class="btn-group">
          <button
            type="button"
            class="btn btn-primary"
            id="weight_piechart_apply"
          >
            Apply
          </button>
          <button
            type="button"
            class="btn dropdown-toggle dropdown-icon btn-primary"
            data-toggle="dropdown"
            aria-expanded="false"
          >
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu" role="menu" style="">
            <a class="dropdown-item" href="#" id="weight_piechart_download">Download</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <div class="container-fluid">
        <img
          src=""
          class="img-fluid"
          alt="Weight Report image"
          id="weight_piechart_img"
        />
      </div>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
