{% extends "sidebar.html" %} 
{% load static %} 
{% load widget_tweaks %}


{% block stylesheet %} 
{% include 'components/create_styles.html' %} 
{% include 'components/select2_style.html' %}
{% endblock %} 

{% block title %} {{ form.name.value }} - ILRI genetics Evaluation {% endblock %} 

{% block body %}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Edit User</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Users</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
 <!-- Main content -->
 <section class="content">
    <div class="col-md-6">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Edit</h3>
        </div>
        <form action="" method="POST">
          {% include 'components/messages.html' %}

          {% csrf_token %}
          {{ form.non_field_errors }}

          <div class="card-body">
            <div class="form-group">
              <label for="{{ form.name.id_for_label }}">Full Name</label>
              {{ form.name|add_class:"form-control"|add_error_class:"is-invalid"|attr:"placeholder: Enter full name" }}
              <span id="{{ form.name.id_for_label }}-error" class="error invalid-feedback">Please enter a valid name</span>
            </div>
            <div class="form-group">
              <label for="{{ form.email.id_for_label }}">Email address</label>
              {{ form.email|add_class:"form-control"|add_error_class:"is-invalid"|attr:"placeholder: Enter email address" }}
              <span id="{{ form.name.id_for_label }}-error" class="error invalid-feedback">Please enter a valid email</span>
            </div>
            {% comment %} <div class="form-group">
              <label for="{{ form.password.id_for_label }}">Password</label>
              {{ form.password|add_class:"form-control"|add_error_class:"is-invalid"|attr:"placeholder: Enter Password"|attr:"type: password" }}
            </div> {% endcomment %}
            {% include "components/fields/farm_field.html" %}
            {% include "components/fields/groups_field.html" %}

            <div class="form-group col-1">
              <label for="{{ form.is_active.id_for_label }}">Active</label>
              {{ form.is_active|add_class:"form-control"|add_error_class:"is-invalid"|attr:"placeholder: Active" }}
              <span id="{{ form.is_active.id_for_label }}-error" class="error invalid-feedback">{{ form.is_active.errors }}</span>
            </div>
          </div>
          <!-- /.card-body -->

          <div class="card-footer">
            <a href="{% url 'change_password' %}"><button type="button" class="btn btn-default">Change Password</button></a>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </section>

  <!-- /.content -->
</section>

{% endblock %}

{% block javascript%}
<script src="{% static 'js/farm_select.js' %}"></script>
<script src="{% static 'js/groups_select.js' %}"></script>
{% endblock %}