{% extends "list_template.html" %}
{% load static %}

{% block page_title %}Users{% endblock %}
{% block data_title %}Users{% endblock %}
{% block data_description %}List of all users{% endblock %}
{% block data_menu %}Users{% endblock %}
{% block data_url %}{% url 'users_create' %}{% endblock %}
{% block data_btn %}Create User{% endblock %}

{% block table %}
<table id="users_data_list_table" class="table table-bordered table-striped">
	<thead>
		<tr>
			<th style="display: none;">ID</th>
			<th>Name</th>
			<th>Email</th>
			<th>Farms</th>
			<th>Groups</th>
			<th></th>
		</tr>
	</thead>
	<tbody></tbody>
	<tfoot>
		<tr>
		    <th style="display: none;">ID</th>
		    <th>Name</th>
		    <th>Email</th>
		    <th>Farms</th>
		    <th>Groups</th>
		    <th></th>
		</tr>
	</tfoot>
</table>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/users_list.js' %}"></script>
{% endblock%}