{% load static %}

<section style="min-height: 380px; margin-top: 50px; margin-bottom: 70px">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6">
                <div class="header-section">
                    <h2 class="title">About</h2>
                </div>
            </div>
        </div>
        <div class="mt-5">
            <p class="col-lg-10 col-md-12"><b>TPGS-BPDMS</b>
                is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </P>
            <br />
            <h6>Supervised by:-</h6>
            <br />
            <ul>
                <li>
                    <a href="https://www.ilri.org/people/tadelle-dessie" target="_blank">
                        <b>Tadelle Dessie (Principal Scientist)</b>
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </li>
                <br />
                <li>
                    <a href="https://www.linkedin.com/in/wondmeneh-esatu-36857421/" target="_blank">
                        <b>Wondmeneh Esatu (Scientist)</b>
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>