{% extends "sidebar.html" %} 
{% load static %}

{% block stylesheet %} 
{% include 'components/list_styles.html' %}
{% include "components/styles/table_style.html" %}
{% include 'components/select2_style.html' %}
{% endblock %} 

{% block title %} Users - ILRI genetics Evaluation {% endblock %} 

{% block body %}
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>{% block data_title %}{% endblock %}</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">{% block data_menu %}{% endblock %}</li>
          </ol>
        </div>
      </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header row">
                        <h3 class="card-title col-10">{% block data_description %}{% endblock %}</h3>
                        <div class="col-2">
                            <a href="{% block data_url %}{% endblock %}" role="button" type="button" class="btn btn-primary float-right"><i class="fas fa-plus"></i> {% block data_btn %}{% endblock %}</a>
                        </div>
                    </div>
                    <div class="card-body">
                        {% block table %}{% endblock%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}