{% extends "base.html" %}
{% load static %}

{% block stylesheet %}
<style>
    p,a,h1,h2,h3,h4 {
        margin: 0;
        padding: 0;
    }
    
    .section-team {
        font-family: "Poppins", sans-serif;
        padding: 80px 0;
    }
    
    .section-team .header-section {
        margin-bottom: 50px;
    }
    
    .section-team .header-section .small-title {
        margin-bottom: 25px;
        font-size: 16px;
        font-weight: 500;
        color: #3e64ff;
    }

    .title {
        font-weight: 700;
        font-size: 45px;
    }
    
    .section-team .header-section .title {
        font-weight: 700;
        font-size: 25px;
    }
    
    .section-team .single-person {
        margin-top: 30px;
        padding: 30px;
        background-color: #f6f9ff;
        border-radius: 5px;
    }
    
    .section-team .single-person:hover {
        background: linear-gradient(to right, #b9c204, #dae602);
    }
    
    .section-team .single-person .person-image {
        position: relative;
        margin-bottom: 50px;
        border-radius: 50%;
        border: 4px dashed transparent;
        transition: padding .3s;
    }
    
    .section-team .single-person:hover .person-image {
        padding: 12px;
        border: 4px dashed #fff;
    }
    
    .section-team .single-person .person-image img {
        width: 100%;
        border-radius: 50%;
    }
    
    .section-team .single-person .person-image .icon {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%,50%);
        display: inline-block;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        background: linear-gradient(to right, #016cec, #00b5f7);
        color: #fff;
        border-radius: 50%;
        font-size: 24px;
    }
    
    .section-team .single-person:hover .person-image .icon {
        background: none;
        background-color: #fff;
        color: #016cec;
    }
    
    .section-team .single-person .person-info .full-name {
        margin-bottom: 10px;
        font-size: 28px;
        font-weight: 700;
    }
    
    .section-team .single-person .person-info .speciality {
        text-transform: uppercase;
        font-size: 14px;
        color: #c7cf32;
    }
    
    .section-team .single-person:hover .full-name,
    .section-team .single-person:hover .speciality {
        color: #fff;
    }

    footer a, .section-team  a {
        color: #181819;
    }

</style>
{% endblock %}

{% block title %}
ILRI - Tropical Poultry Genetic Solutions Strategy (TPGS)
{% endblock %}
{% block page_content %}
<div class="wrapper">
    {% include 'nav.html' %}
    <div class="container">
        <section style="margin-top: 100px">
            <div class="row d-flex align-items-center">
                <div class="col-lg">
                    <h1 style="margin-bottom: 30px" class="title">Tropical Poultry Genetic Solutions Strategy (TPGS)</h1>
                    <p>
                        is a genetics innovation strategy for identifying and testing high-producing farmer-preferred poultry genotypes and using them at scale to address income, nutrition and empowerment challenges in Africa, Asia and beyond.
                    </p>
                    <a class="btn btn-lg btn-primary font-weight-bold mr-3" style="background: {{ priamryColor }}; border: 1px solid {{ priamryColor }}; margin-top: 20px" href="{% url 'login' %}">Login</a>
                </div>
                <div class="col-lg d-flex justify-content-center">
                    {% comment %} <img style="height: 500px" src="{% static 'images/hero_1.jpg' %}" /> {% endcomment %}
                    {% comment %} <img style="height: 500px" src="{% static 'images/hero_2.jpg' %}" /> {% endcomment %}
                    <img class="img-fluid"  src="{% static 'images/hero_3.jpg' %}" />
                </div>
            </div>
        </section>
    </div>
    <div>
        {% include 'team.html' %}
    </div>
    {% include 'footer.html' %}
</div>
{% endblock %}