{% extends "sidebar.html" %} 
{% load static %}

{% block stylesheet %} 
{% include 'components/list_styles.html' %}
{% include "components/styles/table_style.html" %}
{% include 'components/select2_style.html' %}
{% include 'components/daterangepicker_style.html' %}
{% endblock %} 

{% block title %} {% block page_title %} {% endblock %} - {{ app_name }} {% endblock %} 

{% block body %}
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>{% block data_title %}{% endblock %}</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">{% block data_menu %}{% endblock %}</li>
          </ol>
        </div>
      </div>
    </div>
</section>

<section class="content">
{% block content %} {% endblock %}
</section>
{% endblock %}