{% extends "sidebar.html" %} {% load static %} {% block stylesheet %}
<link rel="stylesheet" href="{% static 'admin-LTE-v3.2.0/plugins/daterangepicker/daterangepicker.css' %}" />
<link rel="stylesheet" href="{% static 'admin-LTE-v3.2.0/plugins/daterangepicker/daterangepicker.css' %}" />
<link rel="stylesheet" href="{% static 'admin-LTE-v3.2.0/plugins/select2/css/select2.min.css' %}" />
<link rel="stylesheet" href="{% static 'admin-LTE-v3.2.0/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}"/>
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'admin-LTE-v3.2.0/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}"/>
<link rel="stylesheet" href="{% static 'admin-LTE-v3.2.0/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}"/>
<link rel="stylesheet" href="{% static 'admin-LTE-v3.2.0/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}"/>
{% endblock %}
{% block title %}
Flocks Edit - ILRI Poultry Farm Management 
{% endblock%}
{% block body %}

<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Flock</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/home/flocks/">Flocks</a></li>
          <li class="breadcrumb-item active">{{ data.name }}</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->

  <!-- Main content -->
  <section class="content row">
    <div class="col-md-6">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Edit</h3>
        </div>
        <form
          action="{% if data != None %} {% else %} /home/flocks/ {% endif %}"
          method="POST"
        >
          {% csrf_token %}
          <div class="card-body">
            <div class="form-group">
              <label for="name">Flock Name</label>
              <input
                type="text"
                name="name"
                value="{{ data.name }}"
                class="form-control"
                id="name"
                placeholder="Enter Feed Name"
              />
            </div>
            <div class="form-group">
              <label for="hatch_date">Hatch Date</label>
              <input
                id="hatch_date"
                type="text"
                name="hatch_date"
                value="{{ data.hatch_date }}"
                class="form-control"
                placeholder="Enter Hatch Date"
              />
            </div>
            <div class="form-group">
              <label for="farm">Farm</label>
              <select
                id="farm"
                name="farm"
                value="{{ data.farm.id }}"
                class="form-control select2"
                style="width: 100%"
              >
                <option value="{{ data.farm.id }}" selected="selected">
                  {{ data.farm.name }}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label>Active</label>
              <br>
              {% if data.is_active %}
                <input class="form-control" name="is_active" type="checkbox" checked data-bootstrap-switch data-off-color="danger" data-on-color="success">
              {% else %}
                <input class="form-control" name="is_active" type="checkbox" data-bootstrap-switch data-off-color="danger" data-on-color="success">
              {% endif %}
            </div>
          </div>
          <!-- /.card-body -->

          <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>

    <!-- History Card -->
    <div class="col-md-6">
      <div class="card card-secondary">
        <div class="card-header">
          <h3 class="card-title">History</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="history" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Changed By</th>
                <th>Name</th>
                <th>Hatch Date</th>
                <th>Farm</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
              <tr>
                <th>Changed By</th>
                <th>Name</th>
                <th>Hatch Date</th>
                <th>Farm</th>
                <th>Date</th>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.History -->
  
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Chickens</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="dataListTable" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Tag</th>
                <th>Sex</th>
                <th>Farm</th>
                <th>House</th>
                <th>Breed Type</th>
                <th>Layed Date</th>
                <th>Is Double Yolk</th>
                <th>Created At</th>
                <th></th>
              </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
              <tr>
                <th>ID</th>
                <th>Tag</th>
                <th>Sex</th>
                <th>Farm</th>
                <th>House</th>
                <th>Breed Type</th>
                <th>Layed Date</th>
                <th>Is Double Yolk</th>
                <th>Created At</th>
                <th></th>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </section>

  <!-- /.content -->
</section>

{% endblock %} {% block script %}
<!-- DataTables  & Plugins -->
<script src="{% static 'admin-LTE-v3.2.0/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin-LTE-v3.2.0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin-LTE-v3.2.0/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'admin-LTE-v3.2.0/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin-LTE-v3.2.0/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'admin-LTE-v3.2.0/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin-LTE-v3.2.0/plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'admin-LTE-v3.2.0/plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'admin-LTE-v3.2.0/plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'admin-LTE-v3.2.0/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'admin-LTE-v3.2.0/plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'admin-LTE-v3.2.0/plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>

<script src="{% static 'admin-LTE-v3.2.0/plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'admin-LTE-v3.2.0/plugins/daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'admin-LTE-v3.2.0/plugins/select2/js/select2.full.min.js' %}"></script>
<script src="{% static 'admin-LTE-v3.2.0/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>
<script>
  $(function () {
    $("input[data-bootstrap-switch]").each(function(){
      $(this).bootstrapSwitch('state', $(this).prop('checked'));
    });

    $("#report_date_range").daterangepicker(
      {
        showWeekNumbers: true,
        autoApply: true,
        showDropdowns: true,
        minYear: 1901,
        maxYear: parseInt(moment().format("YYYY"), 10),
      },
      function (start, end, label) {
        var years = moment().diff(start, "years");
      }
    );

    $("#hatch_date").daterangepicker(
      {
        autoApply: true,
        singleDatePicker: true,
        showDropdowns: true,
        minYear: 1901,
        maxYear: parseInt(moment().format("YYYY"), 10),
      },
      function (start, end, label) {
        var years = moment().diff(start, "years");
      }
    );

    $("#farm").select2({
      theme: 'bootstrap4',
      ajax: {
        url: "/api/v1/farms",
        data: function (params) {
          var query = {
            search: params.term,
            page: params.page || 1,
          };
          return query;
        },
        processResults: function (data, params) {
          params.page = params.page || 1;
          var transform = $.map(data.results, function (obj) {
            obj.id = obj.id || obj.id;
            obj.text = obj.text || obj.name;
            return obj;
          });
          return {
            results: transform,
            pagination: {
              more: params.page * 30 < data.count,
            },
          };
        },
      },
    });

    var columns = [
      { data: "id" },
      { data: "tag" },
      { data: "sex" },
      { data: "farm.name" },
      { data: "house.name" },
      { data: "breed_type.name" },
      { data: "layed_date" },
      { data: "is_double_yolk" },
      { data: "created_at" },
      {
        data: null,
        className: "dt-center editor-edit",
        defaultContent: '<div style="cursor: pointer;"> <i class="fas fa-eye"></i> / <i class="fas fa-pencil-alt"></i></div>',
        orderable: false,
      },
    ];
    var table = $("#dataListTable").DataTable({
      responsive: true,
      lengthChange: false,
      autoWidth: false,
      buttons: ["copy", "csv", "excel", "pdf", "print", "colvis"],
      processing: true,
      serverSide: true,
      ajax: {
        url: "/api/v1/chickens?flock=" + "{{ data.id }}",
        dataSrc: function (json) {
          json["data"] = json["results"];
          json["recordsTotal"] = json["count"];
          json["recordsFiltered"] = json["count"];
          return json.data;
        },
        data: function (d) {
          d.search = d.search.value;
          for (let i = 0; i < d.order.length; i++) {
            var sign = d.order[i].dir == "asc" ? "+" : "-";
            d.ordering = sign + columns[i].data;
          }
        },
      },
      columns: columns,
    });

    table
      .buttons()
      .container()
      .appendTo("#dataListTable_wrapper .col-md-6:eq(0)");

    // Edit record
    $("#dataListTable").on("click", "td.editor-edit", function (e) {
      e.preventDefault();
      var data = table.row(this).data();
      console.log(data);
      window.location.href = "/home/chickens/" + data.id;
    });

    // History
    var historyColumns = [
      { data: 'history_user.name' },
      { data: 'name' },
      { data: 'hatch_date' },
      { data: 'farm.name' },
      { data: 'history_date' }
    ]
    var historyTable = $("#history").DataTable({
      responsive: true,
      lengthChange: false,
      autoWidth: false,
      processing: true,
      serverSide: true,
      ajax: {
        url: "/api/v1/flocks/" + "{{ data.id }}/histories",
        dataSrc: function (json) {
          json["data"] = json["results"];
          json["recordsTotal"] = json["count"];
          json["recordsFiltered"] = json["count"];
          return json.data;
        },
        data: function (d) {
          d.search = d.search.value;
          var sign = d.order[0].dir == "asc" ? "+" : "-";
          d.ordering = sign + historyColumns[d.order[0].column].data;
        },
      },
      columns: historyColumns
    });

  });
</script>
{% endblock %}
