{% extends "form_template.html" %} 
{% load static %} 
{% load widget_tweaks %}

{% block page_title %}{{ form.name.value }}{% endblock %}
{% block data_title %}Pen{% endblock %}
{% block data_description %}Edit Pen{% endblock %}
{% block data_menu %}Pen{% endblock %}

{% block contents %}
<div class="container">
	<form method="POST" class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Edit Pen</h3>
        </div>
        <div class="card-body">
			{% include 'components/messages.html' %}

			{% csrf_token %}
			{{ form.non_field_errors }}

			<div class="form-group">
				<label for="{{ form.name.id_for_label }}">Pen Name</label>
				{{ form.name|add_class:"form-control"|add_error_class:"is-invalid"|attr:"placeholder: Enter Name" }}
				<span id="{{ form.name.id_for_label }}-error" class="error invalid-feedback">{{ form.name.erros }}</span>
			</div>

            {% include 'components/fields/farm_field.html' %}
		</div>
		<div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
	</form>

</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/farm_select.js' %}"></script>
{% endblock %}