{% extends "plain_template.html" %} 
{% load static %} 
{% load widget_tweaks %}

{% block page_title %}Hatchery{% endblock %}
{% block data_title %}Hatchery{% endblock %}
{% block data_menu %}Hatchery Record{% endblock %}

{% block content %}
<div class="col-12">
	<div class="row col-12">
		<a href="/hatchery/{{id}}/incubation/" class="col-md-3 col-sm-6 col-12">
            <!-- .info-box-->
            <div class="info-box">
              <span class="info-box-icon bg-warning"><i class="fas fa-warehouse"></i></span>

              <div class="info-box-content">
                <span class="info-box-text font-weight-bold">Incubation</span>
                <span class="info-box-number" id="statics_weight">-</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </a>
		  <a href="/hatchery/{{id}}/candling" class="col-md-3 col-sm-6 col-12">
            <!-- .info-box-->
            <div class="info-box">
              <span class="info-box-icon bg-warning"><i class="far fa-lightbulb"></i></i></span>

              <div class="info-box-content">
                <span class="info-box-text font-weight-bold">Candling</span>
                <span class="info-box-number" id="statics_weight">-</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </a>
	</div>

	<form method="POST" class="card card-primary">
		<div class="card-header">
			<h3 class="card-title">Hatchery</h3>
		</div>
		<div class="card-body">
			{% include 'components/messages.html' %}

			{% csrf_token %}
			{{ form.non_field_errors }}
			
			<div class="form-group">
				<label for="{{ form.no_egg.id_for_label }}">No of egg set</label>
				{{ form.no_egg|add_class:"form-control"|add_error_class:"is-invalid"|attr:"placeholder: Enter no of egg set" }}
				<span id="{{ form.no_egg.id_for_label }}-error" class="error invalid-feedback">{{ form.no_egg.errors }}</span>
			</div>

			{% include 'components/date_picker.html' %}
			{% include 'components/fields/breed_select.html' %}
			{% include 'components/fields/farm_field.html' %}

		</div>
		<div class="card-footer">
			<button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_modal">Delete</button>
		</div>
	</form>
</div>

	{% include "components/delete_modal.html" with url="/hatchery/delete" %}
	
{% endblock %}

{% block javascript %}
<script src="{% static 'js/chicken_select.js' %}"></script>
<script src="{% static 'js/date_picker.js' %}"></script>
<script src="{% static 'js/breed_type_select.js' %}"></script>
<script src="{% static 'js/farm_select.js' %}"></script>
{% endblock %}