{% extends "list_template.html" %}
{% load static %}

{% block page_title %}Egg Collection{% endblock %}
{% block data_title %}Egg Collection{% endblock %}
{% block data_description %}List of Egg Collection{% endblock %}
{% block data_menu %}Egg Collection{% endblock %}
{% block data_url %}{% url 'eggs_create' %}{% endblock %}
{% block data_btn %}Create Egg record{% endblock %}

{% block table %}
<table id="hatchery_data_table_list" class="table table-bordered table-striped">
	<thead>
		<tr>
        <th>ID</th>
        <th>Date of set</th>
        <th>Breed</th>
        <th>Farm</th>
		<th></th>
		</tr>
	</thead>
	<tbody></tbody>
	<tfoot>
		<tr>
            <th>ID</th>
            <th>Date of set</th>
            <th>Breed</th>
            <th>Farm</th>
		    <th></th>
		</tr>
	</tfoot>
</table>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/hatchery_list.js' %}"></script>
{% endblock %}