{% extends "sidebar.html" %} 
{% load static %} 
{% load widget_tweaks %}

{% block stylesheet %} 
{% include 'components/create_styles.html' %} 
{% include 'components/daterangepicker_style.html' %} 
{% include 'components/select2_style.html' %} 
{% include 'components/datatables_style.html' %} 
{% endblock %} 

{% block title %} Weight Record - ILRI genetics Evaluation {% endblock %} 

{% block body %}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Weight</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">weights</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  
    <!-- Main content -->
    <section class="content row">
      <div class="col-md-12">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Weight Record</h3>
          </div>
          <div class="card-body">
            {% include 'components/weight_piechart.html' %}
          </div>
        </div>
      </div>
  
    </section>
  
    <!-- /.content -->
</section>

{% endblock %}

{% block javascript %}
<script src="{% static 'js/breed_type_select.js' %}"></script>
<script src="{% static 'js/growth_performance.js' %}"></script>
{% endblock %}