{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block stylesheet %}
<style>
.card-primary.card-outline{
    border-top: 3px solid {{ priamryColor }}
}
</style>
{% endblock %}

{% block page_content %}
{% include 'nav.html' %}

<div class="hold-transition login-page" style="background: #fff; height: 80%">
   <!--Password reset sent-->
	<div class="container p-5">
        <h2 class="font-weight-bold mt-3">Password reset sent</h2>
          <hr>
          <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
    </div>
</div>

{% include 'footer.html' %}

{% endblock %}

{% block javascript %}
<script src="{% static 'js/app.js' %}"></script>
{% endblock %}