{% extends "sidebar.html" %} {% load static %} 
{% block stylesheet %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'admin-LTE-v3.2.0/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}"/>
<link rel="stylesheet" href="{% static 'admin-LTE-v3.2.0/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}"/>
<link rel="stylesheet" href="{% static 'admin-LTE-v3.2.0/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}"/>
<link rel="stylesheet" href="{% static 'admin-LTE-v3.2.0/plugins/datatables-searchpanes/css/searchPanes.bootstrap4.min.css' %}"/>
<link rel="stylesheet" href="{% static 'admin-LTE-v3.2.0/plugins/datatables-select/css/select.bootstrap4.min.css' %}"/>
{% endblock %}
{% block title %}
Eggs - ILRI Poultry Farm Management 
{% endblock%}
{% block body %}

<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Egg Production</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">eggs</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header row">
              <h3 class="card-title col-10">List of Egg production</h3>
              <div class="col-2">
                <a href="/home/weights-create" role="button" type="button" class="btn btn-primary float-right"><i class="fas fa-plus"></i> Create Weight Record</a>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table
                id="dataListTable"
                class="table table-bordered table-striped"
              >
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Chicken</th>
                    <th>Week</th>
                    <th>Eggs</th>
                    <th>Created At</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                  <tr>
                    <th>ID</th>
                    <th>Chicken</th>
                    <th>Week</th>
                    <th>Eggs</th>
                    <th>Created At</th>
                    <th></th>
                  </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </section>

  <!-- /.content -->
</section>

{% endblock %} {% block script %}
<script src="{% static 'admin-LTE-v3.2.0/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin-LTE-v3.2.0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin-LTE-v3.2.0/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'admin-LTE-v3.2.0/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin-LTE-v3.2.0/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'admin-LTE-v3.2.0/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin-LTE-v3.2.0/plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'admin-LTE-v3.2.0/plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'admin-LTE-v3.2.0/plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'admin-LTE-v3.2.0/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'admin-LTE-v3.2.0/plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'admin-LTE-v3.2.0/plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<script>
  $(function () {
    var columns = [
      { data: "id" },
      { data: "chicken.name" },
      { data: "week" },
      { data: "eggs" },
      { data: "created_at" },
      {
        data: null,
        className: "dt-center editor-edit",
        defaultContent: '<button type="button" class="btn btn-success">View / Edit</button>',
        orderable: false,
      },
    ];
    var table = $("#dataListTable").DataTable({
      responsive: true,
      lengthChange: true,
      autoWidth: false,
      dom: "Bfrtip",
      buttons: [
        "copyHtml5", 
        "excelHtml5", 
        "pdfHtml5", 
        "csvHtml5",
      ],
      processing: true,
      serverSide: true,
      ajax: {
        url: "/api/v1/eggs/",
        dataSrc: function (json) {
          json["data"] = json["results"];
          json["recordsTotal"] = json["count"];
          json["recordsFiltered"] = json["count"];
          return json.data;
        },
        data: function (d) {
            d.search = d.search.value;
            var sign = d.order[0].dir == "asc" ? "+" : "-";
            d.ordering = sign + columns[d.order[0].column].data;
            d.columns = []
            d.order= []
        },
      },
      columns: columns,
    });

    // Edit record
    $("#dataListTable").on("click", "td.editor-edit", function (e) {
      e.preventDefault();
      var data = table.row(this).data();
      window.location.href = "/home/eggs/" + data.id;
    });
  });
</script>
{% endblock %}
