{% load widget_tweaks %}

<div class="form-group">
    <label for="farm_select">Farm</label>
    {{ form.farms|attr:"multiple:multiple"|attr:"id:farm_select"|add_class:"form-control"|add_error_class:"is-invalid" }}
    {% comment %} <select
      id="farm_select"
      name="farms"
      multiple="multiple"
      data-placeholder="Farms to manage"
      class="form-control select2 {% if form.farms.errors %} is-invalid {% endif %}"
      style="width: 100%"
    >
    </select> {% endcomment %}
    <span id="{{ form.farms.id_for_label }}-error" class="error invalid-feedback">{{ form.farms.errors }}</span>
</div>