<div>
    <label>Start and End Week</label>
    <div class="d-flex" style="align-items: baseline">
        <input type="number" name="start_week" value="0" min="0" step="1" class="form-control" id="start_week" placeholder="Start Week"/>
        <p class="mx-2" style="margin-bottom: 0px"><b>TO</b></p>
        {% if data %}
            <input type="number" name="end_week" value="{{data.age_in_weeks}}" min="1" step="1" class="form-control" id="end_week" placeholder="End Week"/>
        {% else %}
            <input type="number" name="end_week" value="10" min="1" step="1" class="form-control" id="end_week" placeholder="End Week"/>
        {% endif %}
    </div>
</div>