<!-- History Card -->
<div class="col-md-12">
  <div class="card card-secondary">
    <div class="card-header">
      <h3 class="card-title">History</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <table
        id="history"
        data-id="{{ id }}"
        class="table table-bordered table-striped"
      >
        <thead>
          <tr>
            <th>Changed By</th>
            <th>Tag</th>
            <th>Sex</th>
            <th>Farm</th>
            <th>Layed Date</th>
            <th>Breed Type</th>
            <th>Is Double Yolk</th>
            <th>Hatch Date</th>
            <th>Egg Weight</th>
            <th>Dead Date</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
          <tr>
            <th>Changed By</th>
            <th>Tag</th>
            <th>Sex</th>
            <th>Farm</th>
            <th>Layed Date</th>
            <th>Breed Type</th>
            <th>Is Double Yolk</th>
            <th>Hatch Date</th>
            <th>Egg Weight</th>
            <th>Dead Date</th>
            <th>Date</th>
          </tr>
        </tfoot>
      </table>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.History -->
