{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block stylesheet %}
<style>
.card-primary.card-outline{
    border-top: 3px solid {{ priamryColor }}
}
</style>
{% endblock %}

{% block title %}
Password Reset - {{ app_name }}
{% endblock %}

{% block page_content %}
{% include 'nav.html' %}

<div class="hold-transition login-page" style="background: #fff; height: 80%">
    <div class="container p-5">
        <h2 class="font-weight-bold mt-3">Reset Password</h2>
     <hr>
     <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
     <form method="POST">
        {% include 'components/messages.html' %}

        {% csrf_token %}
        {{ form.non_field_errors }}
        <p>{{ form.errors }}</p>
        
        <div class="input-group mb-3">
            {{ form.email|add_class:"form-control"|add_error_class:"is-invalid"|attr:"placeholder: Email" }}
            {% if form.email.errors %}
                <span id="{{ form.email.id_for_label }}-error" class="error invalid-feedback">Please enter a valid email address</span>
            {% else %}
                <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-envelope"></span>
                    </div>
                </div>
            {% endif %}
        </div>

        <button class="btn btn-primary" type="submit">Send email</button>
     </form>
   </div> 
</div>

{% include 'footer.html' %}

{% endblock %}

{% block javascript %}
<script src="{% static 'js/app.js' %}"></script>
{% endblock %}