{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block stylesheet %}
<style>
.card-primary.card-outline{
    border-top: 3px solid {{ priamryColor }}
}
</style>
{% endblock %}

{% block page_content %}
{% include 'nav.html' %}

<div class="hold-transition login-page" style="background: #fff; height: 80%">
    <!--Password Reset Confirm-->
    <div class="container p-5">
	    <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
		<hr>
        <p>Please enter your new password.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form }}                    
            <button class="btn btn-primary" type="submit">Reset password</button>
        </form>
    </div>
</div>

{% include 'footer.html' %}

{% endblock %}

{% block javascript %}
<script src="{% static 'js/app.js' %}"></script>
{% endblock %}