{% extends "form_template.html" %} 
{% load static %} 
{% load widget_tweaks %}

{% block page_title %}Incubation{% endblock %}
{% block data_title %}Incubation{% endblock %}
{% block data_description %}Create new Incubation Record{% endblock %}
{% block data_menu %}Incubation Record{% endblock %}

{% block contents %}
<div class="container">
	<form method="POST" class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Incubation</h3>
        </div>
        <div class="card-body">
			{% include 'components/messages.html' %}

			{% csrf_token %}
			{{ form.non_field_errors }}

            {% include 'components/fields/hatchery_select.html' %}
            {% include 'components/date_time_picker.html' %}
			
            <div class="form-group">
				<label for="{{ form.temperature_celsius.id_for_label }}">Temperature (°C)</label>
				{{ form.temperature_celsius|add_class:"form-control"|add_error_class:"is-invalid"|attr:"placeholder: Enter Temperature (°C)" }}
				<span id="{{ form.temperature_celsius.id_for_label }}-error" class="error invalid-feedback">{{ form.temperature_celsius.errors }}</span>
			</div>

            <div class="form-group">
				<label for="{{ form.humidity_fahrenheit.id_for_label }}">Humidity (°F)</label>
				{{ form.humidity_fahrenheit|add_class:"form-control"|add_error_class:"is-invalid"|attr:"placeholder: Enter Humidity (°F)" }}
				<span id="{{ form.humidity_fahrenheit.id_for_label }}-error" class="error invalid-feedback">{{ form.humidity_fahrenheit.errors }}</span>
			</div>

            <div class="form-group">
				<label for="{{ form.humidity_percent.id_for_label }}">Humidity (%)</label>
				{{ form.humidity_percent|add_class:"form-control"|add_error_class:"is-invalid"|attr:"placeholder: Enter Humidity (%)" }}
				<span id="{{ form.humidity_percent.id_for_label }}-error" class="error invalid-feedback">{{ form.humidity_percent.errors }}</span>
			</div>

            <div class="form-group">
				<label for="{{ form.remark.id_for_label }}">Remark</label>
				{{ form.remark|add_class:"form-control"|add_error_class:"is-invalid"|attr:"placeholder: Enter remark" }}
				<span id="{{ form.remark.id_for_label }}-error" class="error invalid-feedback">{{ form.remark.errors }}</span>
			</div>

		</div>
		<div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_modal">Delete</button>
        </div>
	</form>
</div>
	{% include "components/delete_modal.html" with url="/incubation/delete" %}

{% endblock %}

{% block javascript %}
<script src="{% static 'js/hatchery_select.js' %}"></script>
<script src="{% static 'js/date_time_picker.js' %}"></script>
{% endblock %}