{% extends "list_template.html" %}
{% load static %}

{% block page_title %}Incubation{% endblock %}
{% block data_title %}Incubation{% endblock %}
{% block data_description %}List of Incubation{% endblock %}
{% block data_menu %}Incubation{% endblock %}
{% block data_url %}{% url 'incubation_create' %}{% endblock %}
{% block data_btn %}Create Incubation{% endblock %}

{% block table %}
<table id="incubation_data_table_list" class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Date of set</th>
            <th>Date Time</th>
			<th>Temperature (°C)</th>
			<th>Humidity (°F)</th>
			<th>Humidity (%)</th>
			<th>Remark</th>
			<th>Created at</th>
			<th></th>
		</tr>
	</thead>
	<tbody></tbody>
	<tfoot>
		<tr>
            <th>ID</th>
			<th>Date of set</th>
            <th>Date Time</th>
			<th>Temperature (°C)</th>
			<th>Humidity (°F)</th>
			<th>Humidity (%)</th>
			<th>Remark</th>
			<th>Created at</th>
		    <th></th>
		</tr>
	</tfoot>
</table>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/incubation_list.js' %}"></script>
{% endblock %}