{% extends "form_template.html" %} 
{% load static %} 
{% load widget_tweaks %}

{% block page_title %}Feed Record{% endblock %}
{% block data_title %}Feed Record{% endblock %}
{% block data_description %}Create new Feed Record{% endblock %}
{% block data_menu %}Feed Record{% endblock %}

{% block contents %}
<div class="container">
	<form method="POST" class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Create House</h3>
        </div>
        <div class="card-body">
			{% include 'components/messages.html' %}

			{% csrf_token %}
			{{ form.non_field_errors }}
			
			{% include 'components/chicken_select.html' %}
            {% include 'components/date_picker.html' %}
            {% include 'components/feed_type_select.html' %}

			<div class="form-group">
				<label for="{{ form.weight.id_for_label }}">Feed Weight</label>
				{{ form.weight|add_class:"form-control"|add_error_class:"is-invalid"|attr:"placeholder: Enter name" }}
				<span id="{{ form.weight.id_for_label }}-error" class="error invalid-feedback">{{ form.weight.errors }}</span>
			</div>

		</div>
		<div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
	</form>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/chicken_select.js' %}"></script>
<script src="{% static 'js/date_picker.js' %}"></script>
<script src="{% static 'js/feed_type_select.js' %}"></script>
{% endblock %}