{% extends "list_template.html" %}
{% load static %}

{% block page_title %}Feeding Records{% endblock %}
{% block data_title %}Feeding Records{% endblock %}
{% block data_description %}List of Feeding Records{% endblock %}
{% block data_menu %}Feeding Records{% endblock %}
{% block data_url %}{% url 'feeds_create' %}{% endblock %}
{% block data_btn %}Create Feeding Records{% endblock %}

{% block table %}
<table id="feed_data_table_list" class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Week</th>
			<th>weight</th>
			<th>Chicken</th>
			<th>Feed Type</th>
			<th>Created At</th>
			<th></th>
		</tr>
	</thead>
	<tbody></tbody>
	<tfoot>
		<tr>
			<th>ID</th>
			<th>Week</th>
			<th>weight</th>
			<th>Chicken</th>
			<th>Feed Type</th>
			<th>Created At</th>
			<th></th>
		</tr>
	</tfoot>
</table>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/feeds_list.js' %}"></script>
{% endblock %}