{% load widget_tweaks %}

<div class="form-group">
  <label for="groups_select">Groups</label>
  {% if form.group %}
    {{ form.groups|attr:"id:groups_select"|add_class:"form-control"|add_error_class:"is-invalid" }}
  {% elif form.groups %}
    {{ form.groups|attr:"multiple:multiple"|attr:"id:groups_select"|add_class:"form-control"|add_error_class:"is-invalid" }}
  {% else %}
    <select id="groups_select" {{ multiple }} data-placeholder="Select Breeds" style="width: 100%"></select>
  {% endif %}
  <span id="{{ form.groups.id_for_label }}-error" class="error invalid-feedback">{{ form.groups.errors }}</span>
  <span id="{{ form.group.id_for_label }}-error" class="error invalid-feedback">{{ form.group.errors }}</span>
</div>
