<div>
  <span id="weight_import" class="btn btn-success col fileinput-button dz-clickable">
    <i class="fas fa-plus"></i>
    <span>Add files</span>
  </span>
<div style="margin-top: 20px" class="col-12 d-flex align-items-center">
    <div id="weight_import_progress" class="progress progress-striped active w-100" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
      <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
    </div>
</div>
</div>