<div class="col-12">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title col-4">Weight Chart</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <div class="row" style="align-items: center">
        <div class="col-sm-1 col-md-1" style="align-items: center">
          <label>Start Week</label>
          <input
            type="number"
            name="start_week"
            value="0"
            min="0"
            class="form-control"
            id="start_week"
            placeholder="Start Week"
          />
        </div>

        <div class="col-sm-1 col-md-1">
          <label>End Week</label>
            <input
              type="number"
              name="end_week"
              value="10"
              min="1"
              class="form-control"
              id="end_week"
              placeholder="End Week"
            />
        </div> 

        <div class="col-sm-12 col-md-3">
          {% include "components/breed_multiselect.html" %}
        </div>


        <div class="btn-group">
          <button
          style="height: 40px; align-self: end;"
            type="button"
            class="btn btn-primary"
            id="weight_piechart_apply"
          >
            Apply
          </button>
          <button
          style="height: 40px; align-self: end;"
            type="button"
            class="btn dropdown-toggle dropdown-icon btn-primary"
            data-toggle="dropdown"
            aria-expanded="false"
          >
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu" role="menu" style="">
            <a class="dropdown-item" href="#" id="weight_piechart_download">Download</a>
          </div>
        </div>

    </div>
      <div class="container-fluid">
        <img
          src=""
          class="img-fluid"
          alt="Weight Report image"
          id="weight_piechart_img"
        />
      </div>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
