{% extends "form_template.html" %} 
{% load static %} 
{% load widget_tweaks %}

{% block page_title %}{{ data.name }} Weekly Body Weight{% endblock %}
{% block data_title %}{{ data.name }} - Weekly Body Weight{% endblock %}
{% block data_description %}{% endblock %}
{% block data_menu %}Chicken Weekly Body Weight{% endblock %}

{% block contents %}
<div class="container-fluid">
    <div class="col-12">
        <div class="card">
          <div class="card-header row" style="align-items: center">
            <h3 class="card-title mb-3 col-sm-12 col-md-3">Weekly Body Weights</h3>
            <div class="d-flex row col-sm-12 col-md-9 justify-content-end" style="align-items: end">
              {% include 'components/week_selector.html' %}
                <button type="button" class="btn btn-primary col-sm-12 col-md-1 ml-2 mt-3" id="apply">Apply</button>
                <a href="{% url 'weights_create' %}?chicken={{ data.id }}" role="button" type="button" class="btn btn-primary float-right col-sm-12 col-md-1 col-md-1 ml-2 mt-3"><i class="fas fa-plus"></i> Add</a>
            </div>  
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content">
                <div class="container-fluid tab-pane active" id="tab_e_1">
                    <button class="btn btn-app" id="download_chart">
                      <i class="fas fa-download"></i>
                      Download
                      <div></div><!-- Donload href container -->
                    </button>
                    <canvas id="chicken_feeds_chart" style="min-height: 250px; height: 250px; max-height: 600px; max-width: 100%;"></canvas>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="tab_e_2">
                    <table id="chicken_feeds" data-id="{{ id }}" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Week</th>
                        <th>Body Weight</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody></tbody>
                  </table>
                </div>
                <!-- /.tab-pane -->
            </div>
          </div>
          <!-- /.card-body -->
          
          <div class="card-footer d-flex">
            <ul class="nav nav-pills ml-auto">
                <li class="nav-item"><a class="nav-link active" href="#tab_e_1" data-toggle="tab">Chart</a></li>
                <li class="nav-item"><a class="nav-link" href="#tab_e_2" data-toggle="tab">Data</a></li>
            </ul>
          </div>
        </div>
        <!-- /.card -->
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/chicken_weights.js' %}"></script>
{% endblock %}