{% extends "sidebar.html" %} 
{% load static %} 
{% load widget_tweaks %}


{% block stylesheet %} 
{% include 'components/create_styles.html' %} 
{% include 'components/select2_style.html' %}
{% include 'components/daterangepicker_style.html' %}
{% endblock %} 

{% block title %} Create Chicken - ILRI genetics Evaluation {% endblock %} 

{% block body %}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Chicken</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Create Chicken</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
</section>

     <!-- Main content -->
<section class="content">
   <div class="container-fluid">
    <div class="row">
        <div style="height: 1000px; width: 50px; background: red"></div>
    </div>
   </div>
</section>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/farm_select.js' %}"></script>
<script src="{% static 'js/chicken_create.js' %}"></script>
<script src="{% static 'js/house_select.js' %}"></script>
<script src="{% static 'js/breed_type_select.js' %}"></script>
<script src="{% static 'js/breed_pair_select.js' %}"></script>
{% endblock %}