{% extends "sidebar.html" %} 
{% load static %} 
{% load widget_tweaks %}


{% block stylesheet %} 
{% include 'components/create_styles.html' %} 
{% include 'components/select2_style.html' %}
{% include 'components/daterangepicker_style.html' %}
{% endblock %} 

{% block title %} Create Chicken - ILRI genetics Evaluation {% endblock %} 

{% block body %}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Chicken</h1>
          <h6>{% if form.is_dead.value == True %} Dead - {{ form.days_alive.value }} days {{ form.dead_date.value }} {% else %}  {% endif %}</h6>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Chicken</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
</section>

     <!-- Main content -->
<section class="content">
    <div class="row col-12">
        <a href="/chickens/{{id}}/weights" class="col-md-3 col-sm-6 col-12">
            <!-- .info-box-->
            <div class="info-box">
              <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>

              <div class="info-box-content">
                <span class="info-box-text font-weight-bold">Weight</span>
                <span class="info-box-number" id="statics_weight">-</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </a>

        <div class="col-md-3 col-sm-6 col-12">
          <!-- .info-box-->
          <div class="info-box">
            <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>

            <div class="info-box-content">
              <span class="info-box-text font-weight-bold">Age</span>
              <span class="info-box-number" >{{ data.age_in_days }} Day ({{ data.age_in_weeks }} Week)</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>

        <a href="/chickens/{{id}}/eggs" class="col-md-3 col-sm-6 col-12">
          <!-- .info-box-->
          <div class="info-box">
            <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>

            <div class="info-box-content">
              <span class="info-box-text font-weight-bold">Total Egg Production</span>
              <span class="info-box-number" id="statics_egg">-</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </a>

        <a href="/chickens/{{id}}/feeds" class="col-md-3 col-sm-6 col-12">
          <!-- .info-box-->
          <div class="info-box">
            <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>

            <div class="info-box-content">
              <span class="info-box-text font-weight-bold">Total Feed</span>
              <span class="info-box-number" id="statics_total_feed">-</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </a>

    </div>
    <div class="row col-12">
      <a href="/chickens/{{id}}/breeding" class="col-md-3 col-sm-6 col-12">
        <!-- .info-box-->
        <div class="info-box">
          <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>

          <div class="info-box-content">
            <span class="info-box-text font-weight-bold">Breeding Partners</span>
            <span class="info-box-number" id="statics_breeding">-</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </a>
      <a href="/chickens/{{id}}/offsprings" class="col-md-3 col-sm-6 col-12">
        <!-- .info-box-->
        <div class="info-box">
          <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>

          <div class="info-box-content">
            <span class="info-box-text font-weight-bold">Offsprings</span>
            <span class="info-box-number" id="statics_offsprings">-</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </a>
    </div>

    <form class="col-md-12" action="" method="POST">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Chicken</h3>
        </div>

          <div class="card-body">
            {% comment %} <form action="" method="POST"> {% endcomment %}
                {% include 'components/messages.html' %}
                {% csrf_token %}
                {{ form.non_field_errors }}

                <div class="row">
                    <input type="hidden" id="chicken_id" value="{{ form.id.vlaue }}" data-id="{{ data.id }}" />
                    <div class="form-group col-md-6">
                        <label for="{{ form.tag.id_for_label }}">Tag</label>
                        {{ form.tag|add_class:"form-control"|add_error_class:"is-invalid"|attr:"placeholder: Enter Tag" }}
                        <span id="{{ form.tag.id_for_label }}-error" class="error invalid-feedback">{{ form.tag.errors }}</span>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="sex">Sex</label>
                        {{ form.sex|add_class:"form-control"|add_error_class:"is-invalid"|attr:"id:sex"|attr:"placeholder: Sex" }}
                        <span id="{{ form.sex.id_for_label }}-error" class="error invalid-feedback">{{ form.sex.errors }}</span>
                    </div>

                    <div class="col-md-6">
                        {% include 'components/farm_select.html' %}
                    </div>

                    <div class="col-md-6">
                        {% include 'components/house_select.html' %}
                    </div>

                    <div class="form-group col-md-6">
                        <label for="{{ form.pen.id_for_label }}">Pen</label>
                        {{ form.pen|add_class:"form-control"|add_error_class:"is-invalid"|attr:"placeholder: Enter Pen" }}
                        <span id="{{ form.pen.id_for_label }}-error" class="error invalid-feedback">{{ form.pen.errors }}</span>
                    </div>

                    <div class="col-md-6">
                        {% include 'components/breed_select.html' %}
                    </div>

                    <div class="col-md-6">
                        {% include 'components/breed_pair_select.html' %}
                    </div>

                    <div class="col-md-6">
                      {% include 'components/flock_select.html' %}
                    </div>

                </div>

                <h5>Egg Details</h5>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="{{ form.hatch_date.id_for_label }}">Hatch Date</label>
                        {{ form.hatch_date|add_class:"form-control"|add_error_class:"is-invalid"|attr:"id:hatch_date"|attr:"placeholder: Enter Hatch Date" }}
                        <span id="{{ form.hatch_date.id_for_label }}-error" class="error invalid-feedback">{{ form.hatch_date.errors }}</span>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="{{ form.egg_weight.id_for_label }}">Egg Weight</label>
                        {{ form.egg_weight|add_class:"form-control"|add_error_class:"is-invalid"|attr:"id:egg_weight"|attr:"placeholder: Enter Tag" }}
                        <span id="{{ form.egg_weight.id_for_label }}-error" class="error invalid-feedback">{{ forms.egg_weight.errors }}</span>
                    </div>

                    <div class="col-md-12">
                      <div class="form-group col-1">
                        <label for="{{ form.is_active.id_for_label }}">Active</label>
                        {{ form.is_active|add_class:"form-control"|add_error_class:"is-invalid"|attr:"placeholder: Active" }}
                        <span id="{{ form.is_active.id_for_label }}-error" class="error invalid-feedback">{{ form.is_active.errors }}</span>
                      </div>
                    </div>
                </div>
        
            </form>
          </div>
          <!-- /.card-body -->

          <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#dead_modal">Remove</button>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_modal">Delete</button>
          </div>
        </div>
    </form>

    {% include 'components/chicken_history.html' %}
    {% include 'components/fcr_growth.html' %}
    {% include 'components/fcr_egg.html' %}
    {% include "components/dead_modal.html" %}
    {% include "components/delete_modal.html" %}
</section>

{% endblock %}

{% block javascript %}
<script src="{% static 'js/farm_select.js' %}"></script>
<script src="{% static 'js/chicken_create.js' %}"></script>
<script src="{% static 'js/house_select.js' %}"></script>
<script src="{% static 'js/breed_type_select.js' %}"></script>
<script src="{% static 'js/breed_pair_select.js' %}"></script>
<script src="{% static 'js/fcr_growth.js' %}"></script>
<script src="{% static 'js/fcr_egg.js' %}"></script>
<script src="{% static 'js/chicken_history.js' %}"></script>
<script src="{% static 'js/chicken_stats.js' %}"></script>
<script src="{% static 'js/chicken_partner.js' %}"></script>
<script src="{% static 'js/flock_select.js' %}"></script>
{% endblock %}