{% extends "sidebar.html" %} 
{% load static %} 

{% block stylesheet %} 
{% include 'components/list_styles.html' %}
{% include 'components/select2_style.html' %}
{% endblock %} 

{% block title %} Chickens List  - ILRI genetics Evaluation {% endblock %} 

{% block body %}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Chickens</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Chickens</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->

    <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header row">
              <h3 class="card-title col-9">List of Chickens</h3>
              <div class="col-3">
                <a href="{% url 'chickens_import' %}" type="button" class="btn btn-outline-primary"><i class="fas fa-upload"></i> Import</a>
                <button type="button" class="btn btn-outline-primary"><i class="fas fa-download"></i> Export</button>
                <a href="{% url 'chickens_create' %}" role="button" type="button" class="btn btn-primary float-right"><i class="fas fa-plus"></i> Create Chicken</a>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              
              <!-- Filters -->
              <div class="row" style="align-items: end; margin-bottom: 50px">
                <div class="col-md-6 col-lg-2 col-xl-1">
                  <label for="filter_sex">Filter By Sex</label>
                  <select
                    id="filter_sex"
                    name="farm"
                    class="form-control select2"
                    style="width: 100%"
                  >
                    <option value="" selected="selected">
                    -
                    </option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                  </select>
                </div>
                {% include 'components/is_active_filter.html' %}
                {% include 'components/farm_filter.html' %}
                <button type="button" id="apply_filter" style="height: 40px" class="btn btn-secondary">Apply</button>
              </div>
              <!-- /.Filters -->
              
              <table
                id="chickens_data_list_table"
                class="table table-bordered table-striped"
              >
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Tag</th>
                    <th>Sex</th>
                    <th>Farm</th>
                    <th>House</th>
                    <th>Breed Type</th>
                    <th>Hatch Date</th>
                    <th>Is Double Yolk</th>
                    <th>Created At</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                  <tr>
                    <th>ID</th>
                    <th>Tag</th>
                    <th>Sex</th>
                    <th>Farm</th>
                    <th>House</th>
                    <th>Breed Type</th>
                    <th>Hatch Date</th>
                    <th>Is Double Yolk</th>
                    <th>Created At</th>
                    <th></th>
                  </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>

      </div>
    </div>
  </section>

  <!-- /.content -->
</section>

{% endblock %}

{% block javascript %}
<script src="{% static 'js/chickens_list.js' %}"></script>
<script src="{% static 'js/farm_select.js' %}"></script>
{% endblock %}