{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible">
            <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-hidden="true"
            >
            x
            </button>
            <h5>
                {% if message.tags == "info" %}
                    <i class="icon fas fa-info"></i>
                    Info!
                {% elif message.tags == "warning"%}
                    <i class="icon fas fa-exclamation-triangle"></i>
                    Alert!
                {% elif message.tags == "success"%}
                    <i class="icon fas fa-check"></i>
                    Success!
                {% elif message.tags == "danger"%}
                    <i class="icon fas fa-ban"></i>
                    Error!
                {% else %}
                    <i class="fas fa-bullhorn"></i>
                    Message!
                {% endif %}
            </h5>
            <ul class="messages">
                <li> {{ message }} </li>
            </ul>
        </div>
    {% endfor %}
{% endif %}