{% extends "list_template.html" %}
{% load static %}

{% block page_title %}Weight Records{% endblock %}
{% block data_title %}Weight Records{% endblock %}
{% block data_description %}List of Weight Records{% endblock %}
{% block data_menu %}Weight Records{% endblock %}
{% block data_url %}{% url 'weights_create' %}{% endblock %}
{% block data_btn %}Create Weight Records{% endblock %}

{% block table %}
<table id="weights_data_table_list" class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Week</th>
            <th>Weight</th>
            <th>chicken</th>
			<th>Created At</th>
			<th></th>
		</tr>
	</thead>
	<tbody></tbody>
	<tfoot>
		<tr>
			<th>ID</th>
			<th>Week</th>
            <th>Weight</th>
            <th>chicken</th>
			<th>Created At</th>
			<th></th>
		</tr>
	</tfoot>
</table>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/weights_list.js' %}"></script>
{% endblock %}
