{% extends "sidebar.html" %} 
{% load static %} 
{% load widget_tweaks %}


{% block stylesheet %} 
{% include 'components/create_styles.html' %} 
{% include 'components/select2_style.html' %}
{% endblock %} 

{% block title %} {{ form.name.value }} - ILRI genetics Evaluation {% endblock %} 

{% block body %}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Country</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Country</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->

     <!-- Main content -->
  <section class="content row">
    <div class="col-md-6">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Country</h3>
        </div>
        <form action="" method="POST">
          {% include 'components/messages.html' %}

          {% csrf_token %}
          {{ form.non_field_errors }}

          <div class="card-body">
            <div class="form-group">
              <label for="{{ form.name.id_for_label }}">Country Name</label>
              {{ form.name|add_class:"form-control"|add_error_class:"is-invalid"|attr:"placeholder: Enter name" }}
              <span id="{{ form.name.id_for_label }}-error" class="error invalid-feedback">Please enter a valid name</span>
            </div>

          </div>
          <!-- /.card-body -->

          <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>

    <!-- History Card -->
    <div class="col-md-6">
        <div class="card card-secondary">
          <div class="card-header">
            <h3 class="card-title">History</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="history" data-id="{{ id }}" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Changed By</th>
                  <th>Name</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody></tbody>
              <tfoot>
                <tr>
                  <th>Changed By</th>
                  <th>Name</th>
                  <th>Date</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.History -->
  </section>

  </section>

  <!-- /.content -->
</section>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/country_history.js' %}"></script>
{% endblock %}