{% extends "sidebar.html" %} 
{% load static %} 

{% block stylesheet %} 
{% include 'components/create_styles.html' %} 
{% include 'components/daterangepicker_style.html' %} 
{% include 'components/select2_style.html' %} 
{% include 'components/datatables_style.html' %} 
{% endblock %} 

{% block title %} Create Breeding Pairs  - ILRI genetics Evaluation {% endblock %} 

{% block body %}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Breeding Pairs</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Breeding Pairs</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  
    <!-- Main content -->
    <section class="content row">
      <div class="col-md-6">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Breeding Pairs</h3>
          </div>
          <form
            action="{% url 'breeding_pairs' %}"
            method="POST"
          >
            {% csrf_token %}
            <div class="card-body">
                <div class="form-group">
                    <label for="sire">Sire</label>
                    <select
                    id="sire_select"
                    name="sire"
                    class="form-control select2"
                    style="width: 100%;"
                    >
                    </select>
                </div>
    
                <div class="form-group">
                    <label for="dams_select">Dam</label>
                    <select
                    id="dams_select"
                    name="dams"
                    multiple="multiple"
                    data-placeholder="Select Dam tags"
                    style="width: 100%"
                    >
                    </select>
                </div>
    
                
            </div>
                <!-- /.card-body -->
    
                <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
    </section>
  
    <!-- /.content -->
</section>

{% endblock %}
{% block javascript %}
<script src="{% static 'js/sire_select.js' %}"></script>
<script src="{% static 'js/dam_select.js' %}"></script>
{% endblock %}