{% extends "list_template.html" %}
{% load static %}

{% block page_title %}Breeds{% endblock %}
{% block data_title %}Breeds{% endblock %}
{% block data_description %}List of all Breeds{% endblock %}
{% block data_menu %}Breeds{% endblock %}
{% block data_url %}{% url 'breeds_create' %}{% endblock %}
{% block data_btn %}Create Breed type{% endblock %}

{% block table %}
<table id="breed_type_table" class="table table-bordered table-striped">
	<thead>
		<tr>
			<th style="display: none;">ID</th>
			<th>Name</th>
			<th>Active</th>
			<th>Created At</th>
			<th></th>
		</tr>
	</thead>
	<tbody></tbody>
	<tfoot>
		<tr>
		    <th style="display: none;">ID</th>
		    <th>Name</th>
			  <th>Active</th>
			  <th>Created At</th>
		    <th></th>
		</tr>
	</tfoot>
</table>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/breeds_list.js' %}"></script>
{% endblock %}
