<div class="col-12">
    <div class="card">
        <div class="card-body">
            <table id="breed_childrens" data-id="{{ id }}" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Tag</th>
                    <th>Sex</th>
                    <th>Farm</th>
                    <th>House</th>
                    <th>Breed Type</th>
                    <th>Hatch Date</th>
                    <th>Is Double Yolk</th>
                    <th>Created At</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>