{% extends "list_template.html" %}
{% load static %}

{% block page_title %}Feed types{% endblock %}
{% block data_title %}Feed types{% endblock %}
{% block data_description %}List of all Feed types{% endblock %}
{% block data_menu %}Feed types{% endblock %}
{% block data_url %}{% url 'feeds_types_create' %}{% endblock %}
{% block data_btn %}Create Feed type{% endblock %}

{% block table %}
<table id="feed_types_data_table_list" class="table table-bordered table-striped">
	<thead>
		<tr>
			<th style="display: none;">ID</th>
			<th>Name</th>
			<th>Active</th>
			<th>Created At</th>
			<th></th>
		</tr>
	</thead>
	<tbody></tbody>
	<tfoot>
		<tr>
		    <th style="display: none;">ID</th>
		    <th>Name</th>
			  <th>Active</th>
			  <th>Created At</th>
		    <th></th>
		</tr>
	</tfoot>
</table>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/feed_types_list.js' %}"></script>
{% endblock %}